<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='final-first.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='jquery.fademover.js')}}"></script>

    <script>
        $(function () {
            $('main').fadeMover();
        });
    </script>
    <title>sucreとは</title>
</head>

<body>
    <div class="l-container">
        <nav class="navbar navbar-toggleable-md navbar-light bg">
            <div class="back"></div>
            <button class="navbar-toggler navbar-toggler-right" height="100%" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="" width="0.5" height="100%" class="d-inline-block align-top" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('final_first')}}">sucreとは</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('second')}}">sucre&sweets</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('search')}}">プチTwitter検索</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="contents">
            <main>
                <h1>sucreとは……</h1>
                <img class="top-image" src="{{url_for('static', filename='sucre-image.jpg')}}" alt="top">
                <h2>自己紹介的なさむしんぐ</h2>

                <p>このページでは自己紹介等をしていくよ！思いつき次第！！</p>

                <div class="button">
                    <a href="{{ url_for('final')}}" class="btn btn-outline-secondary btn-lg">TOP</a>
                </div>
        </div>
        </main>

        <footer>
            <small>
                Copyright@
                <a href="{{ url_for('final_first')}}">sucre</a>
            </small>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://hrdtbs.github.io/basic-example-of-html-css-javascript/assets/imsky-holder/holder.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

    <script>
        var $321 = $.noConflict(true);
        (function ($) {
            $('main').fadeMover({ 'inSpeed': 1000, 'outSpeed': 800 });
        })(jQuery);

        (function ($) {
            $(".l-container").each(function () {

                const $scrollTop = $(window).scrollTop();
                const $header = $(this).find(".navbar, .navbar-toggleable-md, .navbar-light bg"), $navOffsetTop = $header.offset().top;
                const $window = $(window);

                $window.on("scroll", function (event) {
                    const $scrollTop = $(this).scrollTop();

                    if ($scrollTop >= $navOffsetTop) {
                        $header.addClass("sticky");
                    } else {
                        $header.removeClass("sticky");
                    }
                });
                $window.trigger("scroll");
            });
        })($321);
    </script>

</body>

</html>


<!-- 
jquery plug-in
http://www.detelu.com/fademover/
 -->