<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <title>Twitter!</title>
</head>

<body>
    <div class="l-container">

        <nav class="navbar navbar-toggleable-md navbar-light bg">
            <div class="back"></div>
            <button class="navbar-toggler navbar-toggler-right" height="100%" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="" width="0.5" height="100%" class="d-inline-block align-top" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('final_first')}}">sucreとは</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('second')}}">sucre&sweets</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('search')}}">プチTwitter検索</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="contents">
            <h1>Twitter検索！（簡易版）</h1>
            <p>↓のフォームに調べたいキーワードを入れてね！</p>
            <p>キーワードが入っているツイートを10個表示するよ！</p>
            <form action="{{url_for('search')}}" method="POST">
                <input type="text" name="search" placeholder="何を調べますか？" required>
                <button type="submit" class="btn btn-info">Search!</button>
            </form>

            <nav class="tweet">
                <ul>
                    {% if keyword %} {% for tweet in search_timeline['statuses'] %}
                    <li>
                        <p>{{tweet['user']['name'] + '::' + tweet['text']}}</p>
                        <p>{{tweet['created_at']}}</p>
                    </li>
                    {% endfor %} {% endif %} {% if error %}
                    <p>{{"ERROE: %d" % req.status_code}}</p>
                    {% endif %}
                </ul>
            </nav>

            <div class="button">
                <a href="{{ url_for('final')}}" class="btn btn-outline-secondary btn-lg">TOP</a>
            </div>
        </div>

        <footer>
            <small>
                Copyright@
                <a href="{{ url_for('final_first')}}">sucre</a>
            </small>
        </footer>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://hrdtbs.github.io/basic-example-of-html-css-javascript/assets/imsky-holder/holder.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>


    <script>
        $(function () {
            $(".l-container").each(function () {

                const $scrollTop = $(window).scrollTop();
                const $header = $(".l-container").find(".navbar, .navbar-toggleable-md, .navbar-light bg"), $navOffsetTop = $header.offset().top;
                const $window = $(window);

                $window.on("scroll", function (event) {
                    const $scrollTop = $(this).scrollTop();

                    if ($scrollTop >= $navOffsetTop) {
                        $header.addClass("sticky");
                    } else {
                        $header.removeClass("sticky");
                    }
                });
                $window.trigger("scroll");
            });
        });
    </script>

</body>

</html>

<!-- 参考
https://qiita.com/hedgehoCrow/items/2fd56ebea463e7fc0f5b -->